<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7f673">  <td>18/11/13 23:56:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="rest_post.RegistrationSuccessful()[pri:0, instance:POST_METHOD.rest_post@3382f8ae]">RegistrationSuccessful</td> 
  <td>main@534753234</td>   <td></td> </tr>
<tr bgcolor="b7f673">  <td>18/11/13 23:56:15</td>   <td>-553</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;rest_post.setBaseURI()[pri:0, instance:POST_METHOD.rest_post@3382f8ae]">&gt;&gt;setBaseURI</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@534753234</td>   <td></td> </tr>
</table>
